@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


:root {
  --cardMargin: 8px;
  --green: #88B33E;
  --dark-green: #3B7241;
}


body {
  margin: 0;
  background-color: #fafafa;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#wpalogo {
  height: 60%;
}

header {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 10px 20px;
  background: #fff;
  border-bottom: 2px solid #ccc;
  position: fixed;
  width: 100%;
  z-index: 1;
}

header>div {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

header button {
  height: 100%;
  border: 0;
  padding: 0 10px;
  background: var(--green);
  color: #fff;
  cursor: pointer;
  transition: background-color .15s;
  border-radius: 4px;
  text-transform: uppercase;
}

header button:hover {
  background: var(--dark-green);
}

.section:first-of-type{
  padding-top:100px;
}

.section {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  margin-bottom: 50px;
}

.section h1{
  margin: 0px;
  font-weight: 300;
  font-size: 55px;
  padding-bottom: 8px;
  /* border-bottom: 2px solid #ccc; */
}

.cards {
  padding-top: 10px;
  border-top: 2px solid #ccc;
  flex-shrink: 1;
  display: inline-flex;
  flex-flow: row wrap;
  align-content: center;

}

.card {
  min-width: 200px;
  max-width: calc(400px + var(--cardMargin) * 2);
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: var(--cardMargin);

}

.card p,
.card a {
  font-size: 24px;
  margin: 0 0 10px 0;
  overflow: hidden;
  white-space: nowrap;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
}

.card p {
  font-weight: 500;
}

.card a {
  display: block;
  color: var(--green);
  text-decoration: none;
  transition: color .15s;
}

.card a:hover{color: var(--dark-green);}


@media (max-width: 950px) {
  .card {
    width: 250px;
  }
}